html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

html {
	position: relative;
	min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.table-list {
	list-style: none;
	padding: 0;
}

	.table-list li {
		margin-bottom: 10px;
	}

footer {
	margin-top: auto;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #f8f9fa;
}

.container1 {
	max-width: 100%;
}

.marker {
	color: black;
	font-size: 1.2em;
	margin-right: 5px;
}

.table-link {
	text-decoration: none;
	color: #007bff;
	font-weight: bold;
	transition: color 0.3s;
}

.table-link:hover {
	color: #0056b3;
}

.navbar-brand {
	color: #0033A0;
	font-weight: bold;
}

.navbar-brand:hover {
	color: #D52B1E;
}

.center-site {
	width: 300px;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.login-role-button {
	position: absolute;
	right: 115px;
	top: 77%;
	transform: translate(0%, -100%);
	background-color: transparent;
	border: 1px solid #28a745;
	color: #28a745;
	padding: 6px 12px;
	border-radius: 4px;
	transition: background-color 0.3s, color 0.3s;
	white-space: nowrap;
}

.login-role-button:hover {
	background-color: #28a745;
	color: #fff;
}

.audit-button {
	position: absolute;
	right: 280px;
	top: 77%;
	transform: translate(0%, -100%);
	background-color: #fff;
	color: black;
	border: 1px solid #000;
	padding: 6px 12px;
	border-radius: 4px;
	transition: background-color 0.3s, color 0.3s;
}

	.audit-button:hover {
		background-color: black;
		color: #fff;
	}

.login-form {
	max-width: 400px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	min-width: 250px;
}

.login-form input {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-sizing: border-box;
}

.login-form img {
	max-width: 200px;
	border-radius: 50%;
}

.login-form button {
	width: 100%;
	cursor: pointer;
}

.login-form button.btn-light {
	border: none;
	border-radius: 5px;
	background-color: #fff;
	color: #fff;
}

.login-form button.btn-primary {
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: #fff;
}

.login-form .eye-icon {
	cursor: pointer;
	margin-right: 0px;
}

.login-form .eye-icon button {
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 50%;
	background-color: #fff;
	color: #007bff;
}

.login-form .eye-icon button:hover {
	background-color: #007bff;
	color: #fff;
}

.center-logo {
	position: relative;
	left: 50%;
	transform: translate(-50%, 25%);
	height: 60px;
}

.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sidebar li {
	padding: 8px;
}

.sidebar.active {
	width: 350px;
}

#sidebar ul li {
	border-bottom: 1px solid #ddd; /* Цвет и стиль линии между элементами */
}

#sidebar ul li:last-child {
	border-bottom: none; /* Убираем линию с последнего элемента */
}

#sidebar ul li a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color: #333; /* Цвет текста */
}

#sidebar ul li a:hover {
	background-color: #f5f5f5; /* Цвет фона при наведении */
}

#menuToggleBtn {
	position: absolute;
	top: 25%;
	left: 20px;
	z-index: 2;
}

.marker {
	margin-right: 5px;
}

.dataTables_wrapper .dataTables_filter input {
	position: relative;
	left: -6%;
	top: 1%;
	transform: translate(10%, -25%);
	margin: 5px;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
}

.dataTables_wrapper .dataTables_filter label input[type="search"]:focus {
	outline-color: #ddd;
	border-color: #ddd;
}

.dataTables_wrapper .dataTables_filter input {
	border-radius: 20px !important;
	box-sizing: border-box;
}
.dataTables_wrapper .dataTables_filter label {
	display: flex;
	align-items: flex-start;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	border-radius: 15px;
	color: #fff;
	border-radius: 15px !important;
	border: 1px solid #000;
}

.filtr-button {
	background-color: #fff;
	color: black;
	border: 1px solid #000;
	padding: 6px 12px;
	border-radius: 4px;
	transition: background-color 0.3s, color 0.3s;
}

	.filtr-button:hover {
		background-color: black;
		color: #fff;
	}

.non-filtr-button {
	background-color: #fff;
	color: black;
	border: 1px solid #000;
	padding: 6px 12px;
	border-radius: 4px;
	transition: background-color 0.3s, color 0.3s;
}

	.non-filtr-button:hover {
		background-color: black;
		color: #fff;
	}

.graph-button {
	background-color: #fff;
	color: black;
	border: 1px solid #000;
	padding: 6px 12px;
	border-radius: 4px;
	transition: background-color 0.3s, color 0.3s;
}

	.graph-button:hover {
		background-color: black;
		color: #fff;
	}

.create-button {
	background-color: #fff;
	color: #28a745;
	border: 1px solid #28a745;
	padding: 6px 12px;
	border-radius: 4px;
	transition: background-color 0.3s, color 0.3s;
}

	.create-button:hover {
		background-color: #28a745;
		color: #fff;
	}

h1 {
	display: inline-block;
	padding-left: 10px; /* Отступ слева от линии */
	padding-bottom: 20px; /* Отступ слева от линии */
	margin: 0; /* Убираем внешние отступы */
}

.mr-2 {
	margin-right: 5px;
}