@model Kursach_Voenkomat.Models.ОбразовательныеОрганизации

@{
    ViewData["Title"] = "Изменить";
}

<h1>Изменить</h1>

<h4>Образовательные организации</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_образовательной_организации" />
            <div class="form-group">
                <label asp-for="Наименование_образовательной_организации" class="control-label"></label>
                <input asp-for="Наименование_образовательной_организации" class="form-control" />
                <span asp-validation-for="Наименование_образовательной_организации" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_типа_образовательной_организации" class="control-label"></label>
                <select asp-for="ID_типа_образовательной_организации" class="form-control" asp-items="ViewBag.ID_типа_образовательной_организации"></select>
                <span asp-validation-for="ID_типа_образовательной_организации" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Адрес_образовательной_организации" class="control-label"></label>
                <input asp-for="Адрес_образовательной_организации" class="form-control" />
                <span asp-validation-for="Адрес_образовательной_организации" class="text-danger"></span>
            </div>

            <div style="margin-top: 10px;"></div>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-success">Вернуться к списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
