@model Kursach_Voenkomat.Models.Врачи

@{
    ViewData["Title"] = "Создать";
}

<h1>Создать</h1>

<h4>Врачи</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Фамилия" class="control-label"></label>
                <input asp-for="Фамилия" class="form-control" />
                <span asp-validation-for="Фамилия" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Имя" class="control-label"></label>
                <input asp-for="Имя" class="form-control" />
                <span asp-validation-for="Имя" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Отчество" class="control-label"></label>
                <input asp-for="Отчество" class="form-control" />
                <span asp-validation-for="Отчество" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_специальности" class="control-label"></label>
                <select asp-for="ID_специальности" class ="form-control" asp-items="ViewBag.ID_специальности"></select>
            </div>

            <div style="margin-top: 10px;"></div>

            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-success">Вернуться к списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
