@model Kursach_Voenkomat.Models.Образование

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Образование</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID_призывника" class="control-label"></label>
                <select asp-for="ID_призывника" class ="form-control" asp-items="ViewBag.ID_призывника"></select>
            </div>
            <div class="form-group">
                <label asp-for="Номер_документа_об_образовании" class="control-label"></label>
                <input asp-for="Номер_документа_об_образовании" class="form-control" />
                <span asp-validation-for="Номер_документа_об_образовании" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_уровня_образования" class="control-label"></label>
                <select asp-for="ID_уровня_образования" class ="form-control" asp-items="ViewBag.ID_уровня_образования"></select>
            </div>
            <div class="form-group">
                <label asp-for="Специальность" class="control-label"></label>
                <input asp-for="Специальность" class="form-control" />
                <span asp-validation-for="Специальность" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Дата_окончания" class="control-label"></label>
                <input asp-for="Дата_окончания" class="form-control" />
                <span asp-validation-for="Дата_окончания" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_образовательной_организации" class="control-label"></label>
                <select asp-for="ID_образовательной_организации" class ="form-control" asp-items="ViewBag.ID_образовательной_организации"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
