@model Kursach_Voenkomat.Models.ВоенноПрофессиональныеНаправленности

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности</h1>

<div>
    <h4>Военно профессиональные направленности</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Наименование_военно_профессиональной_направленности)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Наименование_военно_профессиональной_направленности)
        </dd>
    </dl>
</div>

<div style="margin-top: 10px;"></div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_военно_профессиональной_направленности" class="btn btn-primary">Изменить</a> |
    <a asp-action="Index" class="btn btn-success">Вернуться к списку</a>
</div>
