@model Kursach_Voenkomat.Models.Паспорта

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Паспорта</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID_призывника" class="control-label"></label>
                <select id="ddlПризывники" asp-for="ID_призывника" class="form-control" asp-items="@ViewBag.ID_призывника"></select>
            </div>
            <div class="form-group">
                <label asp-for="Серия" class="control-label"></label>
                <input asp-for="Серия" class="form-control" />
                <span asp-validation-for="Серия" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Номер" class="control-label"></label>
                <input asp-for="Номер" class="form-control" />
                <span asp-validation-for="Номер" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Дата_выдачи" class="control-label"></label>
                <input asp-for="Дата_выдачи" class="form-control" />
                <span asp-validation-for="Дата_выдачи" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Кем_выдан" class="control-label"></label>
                <input asp-for="Кем_выдан" class="form-control" />
                <span asp-validation-for="Кем_выдан" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Место_рождения" class="control-label"></label>
                <input asp-for="Место_рождения" class="form-control" />
                <span asp-validation-for="Место_рождения" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Адрес_прописки" class="control-label"></label>
                <input asp-for="Адрес_прописки" class="form-control" />
                <span asp-validation-for="Адрес_прописки" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#ddlПризывники").select2();
        });
    </script>
}
