@model Kursach_Voenkomat.Models.ТипыПовесток

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы действительно хотите удалить эту запись?</h3>
<div>
    <h4>Типы повесток</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Тип_повестки)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Тип_повестки)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID_типа_повестки" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-success">Вернуться к списку</a>
    </form>
</div>
