@model Kursach_Voenkomat.Models.ТипыПовесток

@{
    ViewData["Title"] = "Изменить";
}

<h1>Изменить</h1>

<h4>Типы повесток</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_типа_повестки" />
            <div class="form-group">
                <label asp-for="Тип_повестки" class="control-label"></label>
                <input asp-for="Тип_повестки" class="form-control" />
                <span asp-validation-for="Тип_повестки" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-success">Вернуться к списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
