@model Kursach_Voenkomat.Models.ВидыСтатусовЯвки

@{
    ViewData["Title"] = "Создать";
}

<h1>Создать</h1>

<h4>Виды статусов явки</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Наименование_статуса_явки" class="control-label"></label>
                <input asp-for="Наименование_статуса_явки" class="form-control" />
                <span asp-validation-for="Наименование_статуса_явки" class="text-danger"></span>
            </div>

            <div style="margin-top: 10px;"></div>

            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-success">Вернуться к списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
