@model List<TableInfo>

@if (User.Identity.IsAuthenticated)
{
    var nameMappings = new Dictionary<string, string>
    {
        { "Vasily_Vasilie", "Василий Васильев" },
        { "Nikita_Nazarov", "Никита Назаров" },
        { "Kirill_Popov", "Крилл Попов" },
        { "Valeria_Leonova", "Валерия Леонова" },
        { "Adminchik", "Администратор" }
    };
    string displayName = nameMappings.ContainsKey(User.Identity.Name) ? nameMappings[User.Identity.Name] : User.Identity.Name;

    <h1 class="display-4">Добро пожаловать, @displayName!</h1>

    // Добавить картинку
    <img src="">
    var roleClaim = User.Claims.FirstOrDefault(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role");
    string role = roleClaim != null ? roleClaim.Value : "Роль не указана";

    var roleMappings = new Dictionary<string, string>
    {
        { "voenkomat_worker", "Сотрудник военкомата" },
        { "MO", "Министерство обороны" },
        { "Medical_worker", "Медицинский работник" },
        { "State_services", "Госуслуги" },
        { "Administrator", "Администратор" },
    };

    // Если значение роли найдено в словаре, используем его, иначе используем значение по умолчанию
    string displayRole = roleMappings.ContainsKey(role) ? roleMappings[role] : role;
    <p>Ваша роль: @displayRole</p>

    <div class="text-center">
        <h2>Список таблиц</h2>
    </div>

    <ul class="table-list">
        @foreach (var table in Model)
        {
            <li>
                <span class="marker">&#8226;</span>
                <a class="table-link" asp-controller="Home" asp-action="RedirectToTable" asp-route-tableName="@table.TableName">@table.DisplayName</a>
            </li>
        }
    </ul>
}
else
{
    <div class="text-center">
        <h2>Добро пожаловать!</h2>
        <p>Вам необходимо авторизоваться.</p>

        <form action="/Account/Login" method="get">
            <button type="submit" class="btn btn-primary">Авторизоваться</button>
        </form>
    </div>
}
