@model List<TableInfo>

@if (User.Identity.IsAuthenticated)
{
    <div class="center-site">
        <div class="text-center">
            <form action="/Призывники" method="get">
                <button type="submit" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff; border-radius: 20px;">
                    <span style="display: block;">Зарегистрировать призывника</span>
                    <span style="font-size: 0.8em; display: block;">(без записи)</span>
                </button>
            </form>

            <div style="margin-top: 10px;"></div>

            <form action="/Record" method="get">
                <button type="submit" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff; border-radius: 20px;">
                    <span style="display: block;">Зарегистрировать призывника</span>
                    <span style="font-size: 0.8em; display: block;">(по записи)</span>
                </button>
            </form>
        </div>
    </div>
}
else
{
    <div class="center-site">
        <div class="text-center">
            <h2>Добро пожаловать!</h2>

            <div style="margin-top: 10px;"></div>

            <form action="/Account/Login" method="get">
                <button type="submit" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff; border-radius: 20px;">Авторизоваться</button>
            </form>

            <div style="margin-top: 10px;"></div>

            <form action="/RecordModels/Index" method="get">
                <button type="submit" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff; border-radius: 20px;">Записаться на прием</button>
            </form>
        </div>
    </div>
}