@model List<TableInfo>

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h2>Список таблиц</h2>
    </div>

    <ul class="table-list">
        @foreach (var table in Model)
        {
            <li>
                <span class="marker">&#8226;</span>
                <a class="table-link" asp-controller="Home" asp-action="RedirectToTable" asp-route-tableName="@table.TableName">@table.DisplayName</a>
            </li>
        }
    </ul>
}
else
{
    <div class="center-site">
        <div class="text-center">
            <h2>Добро пожаловать!</h2>

            <div style="margin-top: 10px;"></div>

            <form action="/Account/Login" method="get">
                <button type="submit" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff; border-radius: 20px;">Авторизоваться</button>
            </form>

            <div style="margin-top: 10px;"></div>

            <form action="/RecordModels/Index" method="get">
                <button type="submit" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff; border-radius: 20px;">Записаться на прием</button>
            </form>
        </div>
    </div>
}