@model Kursach_Voenkomat.Models.LoginViewModel

<h2 class="text-center">Вход на сайт</h2>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" class="mt-4 login-form">
    <div class="row justify-content-center">
        <div class="card-body p-5 text-center form-container">
            <img src="~/images/LogoMO.png" class="img-fluid mb-4" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="input-container">
                <input type="text" asp-for="UserName" class="form-control rounded-pill" placeholder="Введите логин" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="input-group">
                <input asp-for="Password" type="password" class="form-control rounded-pill" id="passwordInput" placeholder="Введите пароль" />
                <div class="input-group-append">
                    <button type="button" class="btn btn-light rounded-pill" id="togglePassword" style="margin-left: 5px;" tabindex="2">
                        <img id="eyeImage" src="~/images/eye.png" alt="Показать пароль" style="width: 30px; height: 30px;" />
                    </button>
                </div>
            </div>

            <script>
                var passwordInput = document.getElementById('passwordInput');
                var eyeImage = document.getElementById('eyeImage');

                document.getElementById('togglePassword').addEventListener('click', function () {
                    passwordInput.type = (passwordInput.type === 'password') ? 'text' : 'password';
                    eyeImage.src = (passwordInput.type === 'password') ? '/images/eye.png' : '/images/eyeOut.png';
                });
            </script>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="form-group d-flex justify-content-center">
            <button type="submit" class="btn btn-primary rounded-pill" style="width: 200px; height: 40px;">Войти</button>
        </div>
    </div>
</form>