@model Kursach_Voenkomat.Models.КатегорииПрофессиональнойПригодности

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности</h1>

<div>
    <h4>Категории профессиональной пригодности</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Категории_профессиональной_пригодности)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Категории_профессиональной_пригодности)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_категории_профессиональной_пригодности" class="btn btn-primary">Изменить</a> |
    <a asp-action="Index" class="btn btn-success">Вернуться к списку</a>
</div>
