@model Kursach_Voenkomat.Models.Призывники

@{
    ViewData["Title"] = "Изменить";
}

<h1>Изменить</h1>

<h4>Призывники</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_призывника" />
            <input type="hidden" asp-for="Дата_регистрации" />
            <div class="form-group">
                <label asp-for="Имя" class="control-label"></label>
                <input asp-for="Имя" class="form-control" />
                <span asp-validation-for="Имя" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Фамилия" class="control-label"></label>
                <input asp-for="Фамилия" class="form-control" />
                <span asp-validation-for="Фамилия" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Отчество" class="control-label"></label>
                <input asp-for="Отчество" class="form-control" />
                <span asp-validation-for="Отчество" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Дата_рождения" class="control-label"></label>
                <input asp-for="Дата_рождения" class="form-control" />
                <span asp-validation-for="Дата_рождения" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Номер_телефона" class="control-label"></label>
                <input asp-for="Номер_телефона" class="form-control" />
                <span asp-validation-for="Номер_телефона" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_пола" class="control-label"></label>
                <select asp-for="ID_пола" class="form-control" asp-items="@(ViewData["ID_пола"] as SelectList)"></select>
                <span asp-validation-for="ID_пола" class="text-danger"></span>
            </div>

            <div style="margin-top: 10px;"></div>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-success">Вернуться к списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
