@model Kursach_Voenkomat.Models.RecordModel

<style>
    .center-site {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .confirmation-container {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #888888;
        width: 400px;
    }

    .confirmation-message {
        margin-bottom: 20px;
    }

    strong {
        font-weight: bold;
    }

    ul.document-list {
        list-style-type: none;
        padding: 0;
    }

        ul.document-list li {
            margin-bottom: 5px;
        }

    input[type="submit"] {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
    }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }

    body {
        font-family: Arial, sans-serif;
        background-color: white;
        margin: 0;
        padding: 0;
    }

    .center-site {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .confirmation-container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 0px #888888;
        padding: 20px;
        text-align: center;
        max-width: 400px;
        width: 100%;
    }

    .confirmation-message {
        margin-bottom: 20px;
    }

    .document-list {
        padding: 0;
        list-style: none;
    }

        .document-list li {
            padding: 5px 0;
        }

    input[type="submit"] {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }
</style>

<div class="center-site">
    <div class="confirmation-container">
        <div class="confirmation-message">
            <p>Вы были успешно записаны на следующую дату и время:</p>
            <p><strong>Дата и время посещения:</strong> @Model.Дата_посещения.ToString("dd.MM.yyyy HH:mm")</p>
            <p>Не забудьте взять с собой следующие документы:</p>
            <ul class="document-list">
                <li>Паспорт гражданина РФ</li>
                <li>Приписное или военный билет (при наличии)</li>
            </ul>
        </div>
        <form id="confirmationForm">
            <input type="submit" style="border-radius: 20px;" value="OK">

        </form>
    </div>
</div>
<script>
    var confirmationForm = document.getElementById("confirmationForm");

    confirmationForm.addEventListener("submit", function (event) {
        event.preventDefault();

        window.location.href = '/Home/Index';
    });
</script>
